.App {
  padding-top: 50px;
}

.tab-links {
  max-height: 110px;
  overflow: auto;
}

.tab-links .item {
  padding: 4px 5px !important;
}

.action-buttons {
  /*height: 20px;*/
}

.action-buttons .buttons {
  /*padding: 0 20px;*/
}

.action-buttons .buttons .button {
  width: 100px;
  border: 1px solid !important;
}

.action-buttons .field {
  display: inline-grid;
}

#tab-text textarea{
  width: 100%;
  font-family: monospace;
}
